    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           target="_blank" rel="noopener noreferrer" 
           href="https://www.creative-tim.com/product/material-dashboard-django" class="simple-text logo-normal">
          cOUrSE
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
{#          <li class="nav-item {% if 'index' == segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/">#}
{#              <i class="material-icons">dashboard</i>#}
{#              <p>Dashboard</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/page-user.html">#}
{#              <i class="material-icons">person</i>#}
{#              <p>User Profile</p>#}
{#            </a>#}
{#          </li>#}
          <li class="nav-item {% if 'courses' == segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'courses' %}">
              <i class="material-icons">content_paste</i>
              <p>Courses</p>
            </a>
          </li>
{#            <li class="nav-item {% if 'my-courses' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/my-courses">#}
{#              <i class="material-icons">content_paste</i>#}
{#              <p>My courses</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-typography.html">#}
{#              <i class="material-icons">library_books</i>#}
{#              <p>Typography</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-icons.html">#}
{#              <i class="material-icons">bubble_chart</i>#}
{#              <p>Icons</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-maps.html">#}
{#              <i class="material-icons">location_ons</i>#}
{#              <p>Maps</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-notifications.html">#}
{#              <i class="material-icons">notifications</i>#}
{#              <p>Notifications</p>#}
{#            </a>#}
{#          </li>#}
{#          #}
{#          <li class="nav-item ">#}
{#            <a class="nav-link" href="/page-rtl-support.html">#}
{#              <i class="material-icons">language</i>#}
{#              <p>RTL Support</p>#}
{#            </a>#}
{#          </li>#}

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>


        </ul>
      </div>
      {% endif %}

    </div>
