{% extends "layouts/base.html" %}

{% block title %} {{ title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        {{ subtitle }}
                    </h4>
                </div>
                <div class="card-body">

                    <h6 class="card-category">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% endif %}
                    </h6>

                    <br/>

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Name</label>
                                    {{ form.name }}
                                    <small id="NameHelp" class="form-text text-muted">{{ form.name.help_text }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Number</label>
                                    {{ form.number }}
                                    <small id="NumberHelp" class="form-text text-muted">{{ form.number.help_text }}</small>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">LMS Link</label>
                                    {{ form.lms_link }}
                                    <small id="NumberHelp" class="form-text text-muted">{{ form.lms_link.help_text }}</small>
                                </div>
                            </div>
                        </div>

{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Course</label>#}
{#                                    {{ form.course }}#}
{#                                     <small id="CourseHelp" class="form-text text-muted">{{ form.course.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}


                        <br/>

                        <button type="submit" name="{{ action }}" class="btn btn-success pull-left">
                            {{button_action}}
                        </button>

                        <div class="clearfix"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
