{% extends "layouts/base.html" %}
{% load filters %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if 'app.add_exercise' in perms %}
                <a href="{% url 'ex_add' tp.id %}" type="button" class="btn btn-success">
                    <i class="material-icons">add</i>Add Exercise</a>
            {% endif %}

            {% if request.user|has_group:'teacher' %}
                <button type="button" class="btn btn-outline-info" data-toggle="modal"
                        data-target="#globalProgressionModal">
                            <span class="material-icons">
                                trending_up
                            </span>View progression
                </button>

            {% endif %}


            {% if object.exercise %}
                <a type="button" href="{% url 'tp_pdf' object.id %}" class="btn btn-outline btn-disabled">
                    <span class="iconify" data-icon="ci:file-pdf"></span></span>PDF
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ tp.name }}</h4>
                    <p class="card-category">

                    </p>
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table" id="exerciseTable">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>

                                <th>
                                    Exercise
                                </th>
                                {% if request.user|has_group:'teacher' %}
                                    <th>
                                        Progress
                                    </th>
                                {% else %}
                                    <th>number of success / number of tries</th>
                                {% endif %}
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in exs %}
                                <tr>
                                    <td>
                                        {{ e.exo.id }}
                                    </td>
                                    <td>
                                        {{ e.exo.number }}
                                    </td>
                                    {% if request.user|has_group:'teacher' %}
                                        <td>
                                            <div class="progress-container">
                                                <span class="progress-badge">{{ e.progress }}%</span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         aria-valuenow="{{ e.progress }}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{ e.progress }}%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% else %}
                                        <td>{{ e.stats.OK }}/{{ e.stats.TRIES }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="/ex/{{ e.exo.id }}/" type="button"
                                           class="btn btn-info">
                                            <span class="material-icons">visibility</span>
                                            View</a>
                                        {% if course.owner == request.user %}
                                            <a href="{% url 'ex_edit' e.exo.id %}" type="button"
                                               class="btn btn-success"><span
                                                    class="material-icons">edit</span>Edit</a>
                                            <a href="{% url 'ex_delete' e.exo.id %}" type="button"
                                               class="btn btn-danger"><span
                                                    class="material-icons">delete</span>Delete</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="globalProgressionModal" tabindex="-1" role="dialog"
         aria-labelledby="globalProgressionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="globalProgressionLabel">Progression of yours
                        students</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table cell-border" id="progressTable">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    Name
                                </th>
                                {% for e in exs %}
                                    <th>Exercise {{ e.exo.number }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in all_stats %}
                                <tr>
                                    <td>
                                        {{ a.user.username }}
                                    </td>
                                    {% for s in a.stats %}
                                        <td>
                                            <p class="text-success"><span
                                                    class="material-icons">check_circle</span><span
                                                    class="font-weight-bold">{{ s.OK }}</span>
                                                success
                                            </p>

                                            <p class="text-warning"><span class="material-icons">
rule
</span><span class="font-weight-bold">{{ s.WRONG_ANSWER }}</span> wrong answer</p>

                                            <p class="text-info"><span class="material-icons">
alarm
</span><span class="font-weight-bold">{{ s.TIMED_OUT }}</span> timed out</p>

                                            <p class="text-danger"><span class="material-icons">
error
</span><span class="font-weight-bold">{{ s.ERROR }}</span> error</p>


                                            <p class="text-danger"><span class="material-icons">
running_with_errors
</span><span class="font-weight-bold">{{ s.RUNTIME_ERROR }}</span> runtime error</p>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#progressTable').DataTable();
            $('#exerciseTable').DataTable();
        });
    </script>
{% endblock javascripts %}
