{% extends "layouts/base.html" %}
{% load filters %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-rose">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#general" data-toggle="tab">General</a>
                        </li>
                        {% if api_submission %}
                            <li class="nav-item">
                                <a class="nav-link" href="#apikey" data-toggle="tab">API KEY</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class="tab-content">
                <div class="tab-pane active" id="general">

                </div>
                {% if api_submission %}
                    <div class="tab-pane " id="apikey">
                        {% if not current_api_key %}
                        <form action="{% url 'user-token-create' %}" method="POST">
                            {% csrf_token %}
                            {{ api_key_form.as_p }}
                            <button type="submit" class="btn btn-success">Create Token</button>
                        </form>
                        {% else %}
                                <p>You already have an api key with name {{ current_api_key.name }} <a href="{% url 'user-token-revoke' %}" class="btn btn-danger">Revoke ? </a></p>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>


{% endblock %}