{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-rose">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#general" data-toggle="tab">General</a>
                        </li>
                        {% if object.type == "PROGRAM" %}
                        <li class="nav-item">
                            <a class="nav-link" href="#test-cases" data-toggle="tab">Test cases</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#resource" data-toggle="tab">Resource</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#answer" data-toggle="tab">Answer</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class="tab-content">
                <div class="tab-pane active" id="general">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">
                                        {{ subtitle_general }}
                                    </h4>
                                </div>
                                <div class="card-body">

                                    <h6 class="card-category">
                                        {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>
                                        {% endif %}
                                    </h6>

                                    <br/>

                                    <form role="form" method="post" action="">

                                        {% csrf_token %}

                                        {#                        {{ form.as_p }}#}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Number</label>
                                                    {{ form.number }}
                                                    <small id="NumberHelp"
                                                           class="form-text text-muted">{{ form.number.help_text }}</small>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Description</label>
                                                    {{ form.description }}
                                                    <small id="description-help"
                                                           class="form-text text-muted">{{ form.description.help_text }}</small>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Type</label>
                                                    {{ form.type }}
                                                    <small id="executable-help"
                                                           class="form-text text-muted">{{ form.type.help_text }}</small>
                                                </div>
                                            </div>
                                        </div>

                                        <br/>

                                        <button type="submit" name="{{ action }}"
                                                class="btn btn-success pull-left">
                                            {{ button_action }}
                                        </button>

                                        <div class="clearfix"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="test-cases">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title pull-left">
                                        {{ subtitle_test }}
                                    </h4>
                                    <h4 class="card-title pull-right">
                                        <button type="button" class="btn btn-success"
                                                data-toggle="modal" data-target="#archiveModal">
                                            Add test cases with archive
                                        </button>

                                    </h4>
                                </div>
                                <div class="card-body">

                                    <h6 class="card-category">
                                        {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>
                                        {% endif %}
                                    </h6>

                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                ID
                                            </th>

                                            <th>
                                                is sample ?
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for t in test_cases %}
                                            <tr>
                                                <td>
                                                    {{ t.id }}
                                                </td>
                                                <td>
                                                    {{ t.sample }}
                                                </td>
                                                <td>
                                                    <a href="/test_case/{{ t.id }}/" type="button"
                                                       class="btn btn-info">
                                                        <span class="material-icons">visibility</span>
                                                        View</a>
                                                    {% if course.owner == request.user %}
                                                        <a href="{% url 'test_case_delete' t.id %}"
                                                           type="button"
                                                           class="btn btn-danger"><span
                                                                class="material-icons">delete</span>Delete</a>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="resource">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title pull-left">
                                        {{ subtitle_test }}
                                    </h4>
                                    <h4 class="card-title pull-right">
                                        <button type="button" class="btn btn-success"
                                                data-toggle="modal" data-target="#archiveModal">
                                            Add test cases with archive
                                        </button>

                                    </h4>
                                </div>
                                <div class="card-body">

                                    <h6 class="card-category">
                                        {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>
                                        {% endif %}
                                    </h6>

                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                ID
                                            </th>

                                            <th>
                                                is sample ?
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in resource %}
                                            <tr>
                                                <td>
                                                    {{ r.id }}
                                                </td>
                                                <td>
                                                    {{ r.name }}
                                                </td>
                                                <td>
                                                    {% if r.url %}
                                                        <a href="{{ r.url }}" type="button"
                                                           class="btn btn-info">
                                                            <span class="material-icons">visibility</span>
                                                            View
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ r.url }}" type="button"
                                                           class="btn btn-info">
                                                            <span class="material-icons">visibility</span>
                                                            View
                                                        </a>
                                                    {% endif %}
                                                    {% if course.owner == request.user %}
                                                        <a href="{% url 'resource_delete' t.id %}"
                                                           type="button"
                                                           class="btn btn-danger"><span
                                                                class="material-icons">delete</span>Delete</a>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="tab-pane active" id="answer">
                </div>


            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog"
         aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveModalLabel">Adding test cases with
                        archive.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'ex_test_case' object.id %}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_archive.as_p }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
