{% extends "layouts/base.html" %}
{% load django_markdown %}
{% load filters %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if is_teacher %}
                <a href="{% url 'ex_edit' object.id %}" type="button" class="btn btn-success"
                ><span class="material-icons">edit</span>
                    Edit
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title pull-left">{{ title }}</h4>
                    <h4 class="card-title pull-right">
                        {% if ex.type == "PROGRAM" %}
                            <button type="button" class="btn btn-success"
                                    data-toggle="modal" data-target="#submitModal">
                                Submit solution
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-success"
                                    data-toggle="modal" data-target="#submitAnswerModal">
                                Submit Answer
                            </button>
                        {% endif %}
                    </h4>
                </div>

                <div class="card-body">
                    {{ ex.description|markdown }}
                </div>
            </div>
        </div>
    </div>
    {% if ex.type == "PROGRAM" %}
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title pull-left">Test cases</h4>

                    </div>

                    <div class="card-body">

                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Input
                                </th>
                                <th>
                                    Output
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in test_cases %}
                                <tr>
                                    <td>
                                        {{ t.id }}
                                    </td>

                                    <td>
                                        {{ t.input }}
                                    </td>

                                    <td>
                                        {{ t.output }}
                                    </td>

                                    <td>
                                        <button type="button" data-id="{{ t.id }}"
                                                class="btn btn-info showSample" data-toggle="modal"
                                                data-target="#sampleModal"><span
                                                class="material-icons">visibility</span>View
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <br>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title pull-left">{{ submission_title }}</h4>
                        <h4 class="card-title pull-right">
                            <button type="button" class="btn btn-success"
                                    data-toggle="modal" data-target="#submitModal">
                                Submit solution
                            </button>
                        </h4>

                    </div>

                    <div class="card-body">

                        <table class="table text-center" id="submissionTable">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                {% if is_teacher %}
                                    <th>
                                        by
                                    </th>
                                {% endif %}
                                <th>
                                    Date
                                </th>
                                <th>
                                    File
                                </th>

                                <th>
                                    Status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in submissions %}
                                <tr>
                                    <td>
                                        {{ s.id }}
                                    </td>
                                    {% if is_teacher %}
                                        <td>
                                            {{ s.by.username }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ s.date_submitted }}
                                    </td>
                                    <td>
                                        {{ s.file.name }}
                                    </td>
                                    <td class="text-center">
                                        {% if s.status == 'ERROR' %}
                                            <p class="text-danger"><span class="material-icons">
error
</span>
                                                {{ s.status }}</p>
                                        {% elif s.status == 'SUCCESS' %}
                                            <p class="text-success"><span class="material-icons">
check_circle
</span>
                                                {{ s.status }}</p>
                                        {% elif s.status == 'PENDING' %}
                                            <p class="text-secondary"><span class="material-icons">
pending
</span>
                                                {{ s.status }}</p>
                                        {% elif s.status == 'RUNNING' %}
                                            <p class="text-secondary"><span class="material-icons">
directions_run
</span>
                                                {{ s.status }}</p>

                                        {% else %}
                                            <p class="text-warning"><span class="material-icons">
report_problem
</span>
                                                {{ s.status }}</p>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <button data-id="{{ s.id }}" class="btn btn-primary showSourceCode"><i
                                                class="material-icons p-1">
                                            source
                                        </i> Source code
                                        </button>
                                        <a href="{% url 'log' s.id %}" data-id="{{ s.id }}"
                                           class="btn btn-info showLogs"> <span class="material-icons">
                                                    article
                                                    </span> Logs
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
         aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveModalLabel">Submit a solution for exercise
                        {{ object.number }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'ex_submit' object.id %}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_submit.as_p }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog"
         aria-labelledby="sampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sampleModalLabel">Sample</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="sampleModalBody">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sourceCodeModal" tabindex="-1" role="dialog"
         aria-labelledby="sourceCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sourceCodeModalLabel">Source Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="sourceCodeModalBody">
                </div>
            </div>
        </div>
    </div>


    {#        <div class="modal fade" id="logsModal" tabindex="-1" role="dialog"#}
    {#         aria-labelledby="logsModalLabel" aria-hidden="true">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="logsModalLabel">Logs</h5>#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                        <span aria-hidden="true">&times;</span>#}
    {#                    </button>#}
    {#                </div>#}
    {#                <div id="logsModalBody">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
          integrity="sha512-3xLMEigMNYLDJLAgaGlDSxpGykyb+nQnJBzbkQy2a0gyVKL2ZpNOPIj1rD8IPFaJbwAgId/atho1+LBpWu5DhA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"
            integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(".showSample").click(function () {
            console.log("click !");
            let id = $(this).data('id');
            console.log(id);
            $("#sampleModal").modal();
            $.get('/testcase/' + id, function (html) {
                $("#sampleModalBody").html(html);
            });
        });

        $(".showSourceCode").click(function () {
            let id = $(this).data('id');
            $("#sourceCodeModal").modal();
            $.get('/submission/' + id, function (html) {
                $("#sourceCodeModalBody").html(html);
                hljs.highlightAll();
            });

        });

        {#$(".showLogs").click(function () {#}
        {#    let id = $(this).data('id');#}
        {#    $("#logsModal").modal();#}
        {#    $.get('/job/' + id, function (html) {#}
        {#        $("#logsModalBody").html(html);#}
        {#        hljs.highlightAll();#}
        {#    });#}
        {##}
        {#})
            ;
            #}


            $(document).ready(function () {
                $('#submissionTable').DataTable();
            });
    </script>

{% endblock javascripts %}
