{% extends "layouts/base.html" %}

{% block title %} Delete Course {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Delete {{ type }} - {{ id }}</h4>
        </div>
        <div class="card-body">
            {% if msg %}
                <p class="text-danger">{{ msg | safe }}</p>
            {% endif %}
              Are you ABSOLUTELY SURE you wish to delete this {{ type }}?
        </div>
        <div class="card-footer">
            <form role="form" method="post" action="">
                 {% csrf_token %}
                 {{ form.id }}
                 <button type="submit" name="delete" class="btn btn-danger pull-left">Delete {{ type }}</button>
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
