{% extends 'layouts/base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Report</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="exerciseTable">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>

                                <th>
                                    status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in logs %}
                                <tr>
                                    <td>
                                        {{ l.job.id }}
                                    </td>
                                    <td>
                                        {% if l.job.status == 'ERROR' %}
                                            <span class="text-danger"><span class="material-icons">
error
</span>
                                                {{ l.job.status }}</span>
                                        {% elif l.job.status == 'OK' %}
                                            <span class="text-success"><span class="material-icons">
check_circle
</span>
                                                {{ l.job.status }}</span>
                                        {% elif l.job.status == 'PENDING' %}
                                            <span class="text-secondary"><span
                                                    class="material-icons">
pending
</span>
                                                {{ l.job.status }}</span>
                                        {% elif l.job.status == 'RUNNING' %}
                                            <span class="text-secondary"><span
                                                    class="material-icons">
directions_run
</span>
                                                {{ l.job.status }}</span>

                                        {% else %}
                                            <span class="text-warning"><span class="material-icons">
report_problem
</span>
                                                {{ l.job.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#job-{{ l.job.id }}" type="button"
                                           class="btn btn-info show">
                                            <span class="material-icons">visibility</span>
                                            View details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-log">
        {% for l in logs %}
            <div class="col-md-12 job" id="job-{{ l.job.id }}">
                <div class="card ">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Job - {{ l.job.id }} -
                            {% if l.job.status == 'ERROR' %}
                                <span class="text-danger"><span class="material-icons">
error
</span>
                                    {{ l.job.status }}</span>
                            {% elif l.job.status == 'OK' %}
                                <span class="text-success"><span class="material-icons">
check_circle
</span>
                                    {{ l.job.status }}</span>
                            {% elif l.job.status == 'PENDING' %}
                                <span class="text-secondary"><span class="material-icons">
pending
</span>
                                    {{ l.job.status }}</span>
                            {% elif l.job.status == 'RUNNING' %}
                                <span class="text-secondary"><span class="material-icons">
directions_run
</span>
                                    {{ l.job.status }}</span>

                            {% else %}
                                <span class="text-warning"><span class="material-icons">
report_problem
</span>
                                    {{ l.job.status }}</span>
                            {% endif %}</h4>
                    </div>
                    <div class="card-body">

                        {% if l.msg %}
                            <p class="text-danger">{{ l.msg }}</p>
                        {% else %}



                            <div class="row">
                                <div class="col-md-5">
                                    <h2>Compilation</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">General Information about
                                                compilation</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-warning card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="iconify" data-width="32"
                                                                   data-icon="mdi:location-exit"></i>
                                                            </div>
                                                            <p class="card-category">Exit Code</p>
                                                            <h3 class="card-title">{{ l.compile.meta.exitcode }}</h3>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-2 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-warning card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="iconify"
                                                                   data-icon="bx:bx-time"
                                                                   data-width="32"></i>
                                                            </div>
                                                            <p class="card-category">Time</p>
                                                            <h3 class="card-title">{{ l.compile.meta.time }}s</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">stdout</h4>
                                        </div>
                                        <div class="card-body">
                                            <pre><code>{{ l.compile.stdout }}</code></pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header card-header-danger">
                                            <h4 class="card-title">stderr</h4>
                                        </div>
                                        <div class="card-body">
                                            <pre><code>{{ l.compile.stderr }}</code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    <h2>Execution</h2>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">General Information about
                                                execution</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-warning card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="iconify" data-width="32"
                                                                   data-icon="mdi:location-exit"></i>
                                                            </div>
                                                            <p class="card-category">Exit Code</p>
                                                            <h3 class="card-title">{{ l.tests.0.meta.exitcode }}</h3>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-2 col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header card-header-warning card-header-icon">
                                                            <div class="card-icon">
                                                                <i class="iconify"
                                                                   data-icon="bx:bx-time"
                                                                   data-width="32"></i>
                                                            </div>
                                                            <p class="card-category">Time</p>
                                                            <h3 class="card-title">{{ l.tests.0.meta.time }}s</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">stdout</h4>
                                        </div>
                                        <div class="card-body">
                                            <pre><code>{{ l.tests.0.stdout }}</code></pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header card-header-danger">
                                            <h4 class="card-title">stderr</h4>
                                        </div>
                                        <div class="card-body">
                                            <pre><code>{{ l.tests.0.stderr }}</code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
          integrity="sha512-3xLMEigMNYLDJLAgaGlDSxpGykyb+nQnJBzbkQy2a0gyVKL2ZpNOPIj1rD8IPFaJbwAgId/atho1+LBpWu5DhA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"
            integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('.job').hide()
        $('.show').click(function () {
            $('.job').hide()
            let href = $(this).attr('href')
            $(href).show();
            hljs.highlightAll();
        });
    </script>
{% endblock %}