<div class="row">


    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Source Code</h4>
            </div>
            <div class="card-body">
              <pre>
                  <code>
                  {{ code }}
                      </code>
              </pre>
            </div>
        </div>
    </div>
</div>