<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Input</h4>
      </div>
      <div class="card-body">
          <pre>{{ input }}</pre>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title">Output</h4>
        </div>
        <div class="card-body">
              <pre>{{ output }}</pre>
        </div>
    </div>
  </div>
</div>