{% extends "layouts/base.html" %}

{% block title %} My Course {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        {{ subtitle }}
                    </h4>
                </div>
                <div class="card-body">

                    <h6 class="card-category">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% endif %}
                    </h6>

                    <br/>

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        {{ form.as_p }}

{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Name</label>#}
{#                                    {{ form.name }}#}
{#                                    <small id="NameHelp"#}
{#                                           class="form-text text-muted">{{ form.name.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Acronym</label>#}
{#                                    {{ form.acronym }}#}
{#                                    <small id="acronymHelp"#}
{#                                           class="form-text text-muted">{{ form.acronym.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Moodle link</label>#}
{#                                    {{ form.moodle_link }}#}
{#                                    <small id="moodleLinkHelp"#}
{#                                           class="form-text text-muted">{{ form.moodle_link.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Password</label>#}
{#                                    {{ form.password }}#}
{#                                    <small id="passwordsHelp"#}
{#                                           class="form-text text-muted">{{ form.password.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group">#}
{#                                    <label class="bmd-label-floating">Available language</label>#}
{#                                    {{ form.available_language }}#}
{#                                    <small id="availableLanguageHelp"#}
{#                                           class="form-text text-muted">{{ form.available_language.help_text }}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
                        <br/>

                        <button type="submit" name="add" class="btn btn-success pull-left">Save
                        </button>
{##}
{#                        <div class="clearfix"></div>#}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
