{% extends "layouts/base.html" %}
{% load filters %}
{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ title }}</h4>
                    <p class="card-category">

                    </p>
                </div>

                <div class="card-body">
                    {% if is_teacher %}
                        <a href="{% url 'courses_add' %}" type="button" class="btn btn-success">
                            <span class="material-icons">add</span>Add</a>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Actions
                            </th>
                            </thead>
                            <tbody>
                            {% for c in object_list %}
                                <tr>
                                    <td>
                                        {{ c.id }}
                                    </td>
                                    <td>
                                        {{ c.name }}
                                    </td>
                                    <td>
                                        {% if segment == 'courses' and c not in user_courses and c.owner != request.user %}
                                            <a href="{% url 'course_join' c.id %}" type="button"
                                               class="btn btn-primary">Join</a>
                                        {% else %}
                                            <a href="{% url 'course' c.id %}" type="button"
                                               class="btn btn-info">
                                                <span class="material-icons">visibility</span>
                                                View</a>
                                        {% endif %}
                                        {% if c.owner == request.user and is_teacher %}
                                            <a href="{% url 'course_edit' c.id %}" type="button"
                                               class="btn btn-success"><span class="material-icons">edit</span>Edit</a>
                                            <a href="{% url 'course_delete' c.id %}" type="button"
                                               class="btn btn-danger"><span class="material-icons">delete</span>Delete</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
