{% extends "layouts/base.html" %}
{% load filters %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">#{{ object.id }} - {{ title }} </h4>
                    <p class="card-category">

                    </p>
                </div>

                <div class="card-body">
                    {% if 'app.add_tp' in perms %}
                        <a href="{% url 'tp_add' object.id %}" type="button"
                           class="btn btn-success pull-left">
                            <i class="material-icons">add</i>Add TP</a>

                        <button type="button" class="btn btn-success"
                                data-toggle="modal" data-target="#archiveModal">
                            Add TP with archive
                        </button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary pull-right"
                                data-toggle="modal" data-target="#participant-modal">
                            Participants
                        </button>

                    {% endif %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>

                                <th>
                                    Number
                                </th>
                                <th>
                                    Name
                                </th>
                                {% if request.user|has_group:'teacher' %}
                                    <th>
                                        Progression
                                    </th>
                                {% endif %}
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in tps %}
                                <tr>
                                    <td>
                                        {{ t.tp.id }}
                                    </td>
                                    <td>
                                        TP {{ t.tp.number }}
                                    </td>
                                    <td>
                                        {{ t.tp.name }}
                                    </td>
                                    {% if request.user|has_group:'teacher' %}
                                        <td>
                                            <div class="progress-container">
                                                <span class="progress-badge">{{ t.progress }}%</span>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         aria-valuenow="{{ t.progress }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ t.progress }}%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="/tp/{{ t.tp.id }}/" type="button"
                                           class="btn btn-info">
                                            <span class="material-icons">visibility</span>
                                            View</a>
                                        {% if object.owner == request.user %}
                                            <a href="{% url 'tp_edit' t.tp.id %}" type="button"
                                               class="btn btn-success"><span class="material-icons">edit</span>Edit</a>
                                            <a href="{% url 'tp_delete' t.tp.id %}" type="button"
                                               class="btn btn-danger"><span class="material-icons">delete</span>Delete</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="participant-modal" tabindex="-1" role="dialog"
         aria-labelledby="participantModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="participantModalLabel">Participants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in participants %}
                                <tr>
                                    <td>
                                        {{ p.id }}
                                    </td>
                                    <td>
                                        {{ p.user.username }}
                                    </td>
                                    <td>
                                        {% if object.owner == request.user %}
                                            <a href="{% url 'course_participant_delete' object.id p.user.id %}"
                                               type="button"
                                               class="btn btn-danger"><span class="material-icons">delete</span>Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">
                            Close
                        </button>
                        {#        <button type="button" class="btn btn-success">Save changes</button>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog"
         aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveModalLabel">Adding TP with
                        archive.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'tp_add_archive' object.id %}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_archive.as_p }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}